In [156]:
#import appropriate packages

import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [65]:
#obtain wd - note all folders/files will need to be in here 

path = os.getcwd()
files = os.listdir()
files

['.ipynb_checkpoints',
 'A2 Updated Copy.ipynb',
 'A2_220477645_2022.ipynb',
 'A2_WIP.ipynb',
 'Archive',
 'Colet',
 'Data temp',
 'data.mat',
 'DBSCAN.ipynb',
 'EnsembleLearning.ipynb',
 'important.txt',
 'keras_ensemblng-master',
 'keras_ensemblng-master.zip',
 'logs',
 'Log_ROC.png',
 'resultsZAB_SR.mat',
 'samples',
 'SIT720_A2_220477645_2022.ipynb',
 'SIT720_A3-Copy1.ipynb',
 'SIT720_A3_220477645.ipynb',
 'SIT720_A3_TEST.ipynb',
 'SIT720_A4.ipynb',
 'SIT720_A4v2.ipynb',
 'SIT720_A4v3.ipynb',
 'SIT723v1.ipynb',
 'StackedModel.ipynb',
 'StackedModel2.ipynb',
 'StackedModelWilliam.ipynb',
 'Task1_Subject_1.xlsx',
 'Task1_Subject_2.xlsx',
 'Task1_Subject_3.xlsx',
 'Task1_Subject_40.xlsx',
 'Untitled.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb']

In [66]:
#extract all excel files 

files_xlsx = [f for f in files if f[-4:] == 'xlsx']
files_xlsx

['Task1_Subject_1.xlsx',
 'Task1_Subject_2.xlsx',
 'Task1_Subject_3.xlsx',
 'Task1_Subject_40.xlsx']

In [67]:
#blank dataframe to write to 
#we need one of these for each record type (i.e. 16) otherwise we are appending to differing columns
c_gaze_task1 = pd.DataFrame()
c_gaze_task2 = pd.DataFrame()
c_gaze_task3 = pd.DataFrame()
c_gaze_task4 = pd.DataFrame()
c_pupil_task1 = pd.DataFrame()
c_pupil_task2 = pd.DataFrame()
c_pupil_task3 = pd.DataFrame()
c_pupil_task4 = pd.DataFrame()
c_blinks_task1 = pd.DataFrame()
c_blinks_task2 = pd.DataFrame()
c_blinks_task3 = pd.DataFrame()
c_blinks_task4 = pd.DataFrame()
c_annotation_task1 = pd.DataFrame()
c_annotation_task2 = pd.DataFrame()
c_annotation_task3 = pd.DataFrame()
c_annotation_task4 = pd.DataFrame()

In [68]:
#loop through files - use read_excel - note sheet name 

#c stands for COLET

for f in files_xlsx:
    #data = pd.read_excel(f)
    data1 = pd.read_excel(f, sheet_name = 0)
    data1['file'] = f
    c_gaze_task1 = c_gaze_task1.append(data1)

In [69]:
c_gaze_task1

,gaze_timestamp,world_index,confidence,norm_pos_x,norm_pos_y,base_data,gaze_point_3d_x,gaze_point_3d_y,gaze_point_3d_z,eye_center0_3d_x,...,gaze_normal0_x,gaze_normal0_y,gaze_normal0_z,eye_center1_3d_x,eye_center1_3d_y,eye_center1_3d_z,gaze_normal1_x,gaze_normal1_y,gaze_normal1_z,file
0,5410.551715,0,0.999499,0.446264,0.846886,'5410.549631999999-0 5410.553797-1',-6.720630,-31.252881,80.700682,20.004033,...,-0.235298,-0.420213,0.876388,-39.195621,15.099793,-21.600300,0.277597,-0.391313,0.877391,Task1_Subject_1.xlsx
1,5410.555834,0,0.999653,0.446534,0.847007,'5410.557871999999-0 5410.553797-1',-6.690706,-31.298388,80.793260,20.004033,...,-0.234840,-0.420298,0.876470,-39.195621,15.099793,-21.600300,0.277597,-0.391313,0.877391,Task1_Subject_1.xlsx
2,5410.559774,0,0.999648,0.446660,0.846410,'5410.557871999999-0 5410.561675-1',-6.664575,-31.211650,80.708374,20.004033,...,-0.234840,-0.420298,0.876470,-39.195621,15.099793,-21.600300,0.278049,-0.390575,0.877576,Task1_Subject_1.xlsx
3,5410.563583,0,0.999656,0.446442,0.845542,'5410.565490999999-0 5410.561675-1',-6.689463,-31.118351,80.664979,20.004033,...,-0.235225,-0.419217,0.876885,-39.195621,15.099793,-21.600300,0.278049,-0.390575,0.877576,Task1_Subject_1.xlsx
4,5410.568291,0,0.999565,0.446472,0.845614,'5410.565490999999-0 5410.571091999999-1',-6.683464,-31.115105,80.640260,20.004033,...,-0.235225,-0.419217,0.876885,-39.195621,15.099793,-21.600300,0.278153,-0.390681,0.877496,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11140,765220.460807,461,0.999620,0.499926,0.446390,'765220.462854-0 765220.45876-1',0.776445,0.138667,89.442709,20.990822,...,-0.180561,-0.143462,0.973045,-39.105885,14.729170,-22.486605,0.333004,-0.112282,0.936216,Task1_Subject_40.xlsx
11141,765220.464820,462,0.999557,0.499962,0.446760,'765220.462854-0 765220.466786-1',0.781297,0.108608,89.414618,20.990822,...,-0.180561,-0.143462,0.973045,-39.105885,14.729170,-22.486605,0.333108,-0.112853,0.936111,Task1_Subject_40.xlsx
11142,765220.468813,462,0.999560,0.499949,0.446707,'765220.470839-0 765220.466786-1',0.779413,0.112902,89.409996,20.990822,...,-0.180585,-0.143399,0.973050,-39.105885,14.729170,-22.486605,0.333108,-0.112853,0.936111,Task1_Subject_40.xlsx
11143,765220.472850,462,0.999590,0.499760,0.446559,'765220.470839-0 765220.474861-1',0.753330,0.125096,89.552430,20.990822,...,-0.180585,-0.143399,0.973050,-39.105885,14.729170,-22.486605,0.332543,-0.112346,0.936372,Task1_Subject_40.xlsx
11144,765220.476896,462,0.999650,0.500555,0.445540,'765220.478931-0 765220.474861-1',0.871641,0.208724,89.908237,20.990822,...,-0.179042,-0.141219,0.973654,-39.105885,14.729170,-22.486605,0.332543,-0.112346,0.936372,Task1_Subject_40.xlsx

In [70]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data2 = pd.read_excel(f, sheet_name = 1)
    data2['file'] = f
    c_gaze_task2 = c_gaze_task2.append(data2)

In [71]:
c_gaze_task2

,gaze_timestamp,world_index,confidence,norm_pos_x,norm_pos_y,base_data,gaze_point_3d_x,gaze_point_3d_y,gaze_point_3d_z,eye_center0_3d_x,...,gaze_normal0_x,gaze_normal0_y,gaze_normal0_z,eye_center1_3d_x,eye_center1_3d_y,eye_center1_3d_z,gaze_normal1_x,gaze_normal1_y,gaze_normal1_z,file
0,4659.168013,0,0.999946,0.467168,0.841347,'4659.1660919999995-0 4659.169934-1',-3.465714,-28.025541,73.689623,19.490548,...,-0.216004,-0.404146,0.888824,-38.378552,14.746163,-23.063852,0.313394,-0.383356,0.868805,Task1_Subject_1.xlsx
1,4659.171724,0,0.999934,0.467982,0.841412,'4659.173514-0 4659.169934-1',-3.374369,-28.127372,73.947970,19.490548,...,-0.214639,-0.404058,0.889194,-38.378552,14.746163,-23.063852,0.313394,-0.383356,0.868805,Task1_Subject_1.xlsx
2,4659.175874,0,0.999912,0.467992,0.841952,'4659.173514-0 4659.178234999999-1',-3.372870,-28.163546,73.927925,19.490548,...,-0.214639,-0.404058,0.889194,-38.378552,14.746163,-23.063852,0.313423,-0.384043,0.868491,Task1_Subject_1.xlsx
3,4659.179746,0,0.999956,0.467042,0.841566,'4659.181258-0 4659.178234999999-1',-3.479495,-28.023615,73.637258,19.490548,...,-0.216234,-0.403766,0.888941,-38.378552,14.746163,-23.063852,0.313423,-0.384043,0.868491,Task1_Subject_1.xlsx
4,4659.183226,0,0.999976,0.467126,0.841238,'4659.181258-0 4659.185194-1',-3.466174,-27.978763,73.589596,19.490548,...,-0.216234,-0.403766,0.888941,-38.378552,14.746163,-23.063852,0.313692,-0.383646,0.868569,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,766138.546750,410,0.999641,0.493705,0.690459,'766138.546747-0 766138.546754-1',-0.087828,-14.293548,63.532231,19.991601,...,-0.220143,-0.292126,0.930698,-37.560487,13.763124,-28.027686,0.364539,-0.279072,0.888386,Task1_Subject_40.xlsx
9811,766138.550739,411,0.999570,0.493513,0.689678,'766138.5547249999-0 766138.546754-1',-0.107877,-14.237755,63.498204,19.991601,...,-0.220476,-0.291253,0.930893,-37.560487,13.763124,-28.027686,0.364539,-0.279072,0.888386,Task1_Subject_40.xlsx
9812,766138.554725,411,0.999280,0.493671,0.689619,'766138.5547249999-0 766138.5547239999-1',-0.091237,-14.218216,63.427417,19.991601,...,-0.220476,-0.291253,0.930893,-37.560487,13.763124,-28.027686,0.364923,-0.279078,0.888227,Task1_Subject_40.xlsx
9813,766138.558753,411,0.999520,0.493882,0.690114,'766138.5547249999-0 766138.562781-1',-0.069077,-14.225881,63.325874,19.991601,...,-0.220476,-0.291253,0.930893,-37.560487,13.763124,-28.027686,0.365432,-0.279766,0.887801,Task1_Subject_40.xlsx
9814,766138.562780,411,0.999598,0.493090,0.691313,'766138.562779-0 766138.562781-1',-0.151271,-14.247625,63.095070,19.991601,...,-0.221824,-0.292942,0.930043,-37.560487,13.763124,-28.027686,0.365432,-0.279766,0.887801,Task1_Subject_40.xlsx

In [72]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data3 = pd.read_excel(f, sheet_name = 2)
    data3['file'] = f
    c_gaze_task3 = c_gaze_task3.append(data3)

In [73]:
c_gaze_task3

,gaze_timestamp,world_index,confidence,norm_pos_x,norm_pos_y,base_data,gaze_point_3d_x,gaze_point_3d_y,gaze_point_3d_z,eye_center0_3d_x,...,gaze_normal0_x,gaze_normal0_y,gaze_normal0_z,eye_center1_3d_x,eye_center1_3d_y,eye_center1_3d_z,gaze_normal1_x,gaze_normal1_y,gaze_normal1_z,file
0,4925.733554,0,0.999807,0.455139,0.829161,'4925.733566-0 4925.733541-1',-5.210845,-28.369822,77.211448,21.275608,...,-0.245195,-0.411069,0.878010,-39.742654,14.772697,-20.876477,0.306528,-0.377348,0.873870,Task1_Subject_1.xlsx
1,4925.737495,0,0.999896,0.455489,0.827894,'4925.733566-0 4925.741424-1',-5.148993,-28.190206,77.013647,21.275608,...,-0.245195,-0.411069,0.878010,-39.742654,14.772697,-20.876477,0.307662,-0.375822,0.874130,Task1_Subject_1.xlsx
2,4925.741473,0,0.999911,0.455146,0.828076,'4925.741521999999-0 4925.741424-1',-5.186693,-28.163240,76.895547,21.275608,...,-0.245780,-0.411400,0.877691,-39.742654,14.772697,-20.876477,0.307662,-0.375822,0.874130,Task1_Subject_1.xlsx
3,4925.745420,0,0.999885,0.454981,0.828821,'4925.741521999999-0 4925.749317999999-1',-5.215824,-28.258688,76.985009,21.275608,...,-0.245780,-0.411400,0.877691,-39.742654,14.772697,-20.876477,0.307127,-0.376733,0.873925,Task1_Subject_1.xlsx
4,4925.749386,0,0.999868,0.454758,0.828875,'4925.749452999999-0 4925.749317999999-1',-5.240436,-28.236476,76.910377,21.275608,...,-0.246163,-0.411530,0.877523,-39.742654,14.772697,-20.876477,0.307127,-0.376733,0.873925,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24263,765904.711521,373,0.999257,0.501608,0.537082,'765904.711524-0 765904.711518-1',1.022637,-7.248920,89.506461,20.219268,...,-0.170368,-0.195907,0.965710,-39.705350,13.788854,-20.864910,0.341054,-0.155916,0.927023,Task1_Subject_40.xlsx
24264,765904.715139,373,0.999037,0.501847,0.537014,'765904.711524-0 765904.718754-1',1.055004,-7.228196,89.318523,20.219268,...,-0.170368,-0.195907,0.965710,-39.705350,13.788854,-20.864910,0.341799,-0.156103,0.926718,Task1_Subject_40.xlsx
24265,765904.718744,373,0.998169,0.501316,0.537215,'765904.718734-0 765904.718754-1',0.975929,-7.226669,89.098441,20.219268,...,-0.171377,-0.196532,0.965404,-39.705350,13.788854,-20.864910,0.341799,-0.156103,0.926718,Task1_Subject_40.xlsx
24266,765904.722805,373,0.998909,0.500626,0.536969,'765904.726856-0 765904.718754-1',0.873740,-7.184108,88.820568,20.219268,...,-0.172684,-0.196645,0.965148,-39.705350,13.788854,-20.864910,0.341799,-0.156103,0.926718,Task1_Subject_40.xlsx
24267,765904.726858,373,0.999150,0.500637,0.537572,'765904.726856-0 765904.7268589999-1',0.875130,-7.231467,88.799795,20.219268,...,-0.172684,-0.196645,0.965148,-39.705350,13.788854,-20.864910,0.341835,-0.156961,0.926559,Task1_Subject_40.xlsx

In [74]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data4 = pd.read_excel(f, sheet_name = 3)
    data4['file'] = f
    c_gaze_task4 = c_gaze_task4.append(data4)

In [75]:
c_gaze_task4

,gaze_timestamp,world_index,confidence,norm_pos_x,norm_pos_y,base_data,gaze_point_3d_x,gaze_point_3d_y,gaze_point_3d_z,eye_center0_3d_x,...,gaze_normal0_x,gaze_normal0_y,gaze_normal0_z,eye_center1_3d_x,eye_center1_3d_y,eye_center1_3d_z,gaze_normal1_x,gaze_normal1_y,gaze_normal1_z,file
0,5186.936018,0,0.999910,0.429778,0.894138,'5186.937763-0 5186.934273-1',-7.849854,-30.436482,68.829957,18.763117,...,-0.255538,-0.444614,0.858498,-37.711558,15.192075,-24.476072,0.276384,-0.423655,0.862629,Task1_Subject_1.xlsx
1,5186.939908,0,0.999884,0.429607,0.893521,'5186.937763-0 5186.942054-1',-7.883667,-30.444688,68.959266,18.763117,...,-0.255538,-0.444614,0.858498,-37.711558,15.192075,-24.476072,0.275779,-0.422871,0.863207,Task1_Subject_1.xlsx
2,5186.944288,0,0.999771,0.429758,0.893629,'5186.946523-0 5186.942054-1',-7.869988,-30.470123,68.998894,18.763117,...,-0.255302,-0.444724,0.858511,-37.711558,15.192075,-24.476072,0.275779,-0.422871,0.863207,Task1_Subject_1.xlsx
3,5186.947952,0,0.999775,0.429542,0.893677,'5186.946523-0 5186.949380999999-1',-7.913816,-30.541058,69.147955,18.763117,...,-0.255302,-0.444724,0.858511,-37.711558,15.192075,-24.476072,0.274999,-0.422905,0.863439,Task1_Subject_1.xlsx
4,5186.951829,0,0.999893,0.430029,0.894655,'5186.954277-0 5186.949380999999-1',-7.868716,-30.663442,69.251569,18.763117,...,-0.254523,-0.445863,0.858152,-37.711558,15.192075,-24.476072,0.274999,-0.422905,0.863439,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23459,765589.142894,409,0.999196,0.501462,0.456110,'765589.1391-0 765589.146687-1',1.016604,-0.662460,91.123437,22.784207,...,-0.195696,-0.147683,0.969481,-39.474941,14.808326,-21.056276,0.336597,-0.119837,0.933992,Task1_Subject_40.xlsx
23460,765589.146687,410,0.999159,0.501678,0.455661,'765589.146688-0 765589.146687-1',1.049445,-0.626033,91.223161,22.784207,...,-0.195256,-0.146841,0.969697,-39.474941,14.808326,-21.056276,0.336597,-0.119837,0.933992,Task1_Subject_40.xlsx
23461,765589.150823,410,0.999448,0.502136,0.455085,'765589.146688-0 765589.1549579999-1',1.112980,-0.576362,90.907778,22.784207,...,-0.195256,-0.146841,0.969697,-39.474941,14.808326,-21.056276,0.337909,-0.119680,0.933539,Task1_Subject_40.xlsx
23462,765589.154868,410,0.999080,0.501611,0.455389,'765589.154779-0 765589.1549579999-1',1.033436,-0.599887,90.678773,22.784207,...,-0.196328,-0.147757,0.969342,-39.474941,14.808326,-21.056276,0.337909,-0.119680,0.933539,Task1_Subject_40.xlsx
23463,765589.158835,410,0.999396,0.502017,0.455945,'765589.162712-0 765589.1549579999-1',1.094790,-0.646874,90.843766,22.784207,...,-0.195498,-0.148185,0.969444,-39.474941,14.808326,-21.056276,0.337909,-0.119680,0.933539,Task1_Subject_40.xlsx

In [76]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data5 = pd.read_excel(f, sheet_name = 4)
    data5['file'] = f
    c_pupil_task1 = c_pupil_task1.append(data5)

In [77]:
c_pupil_task1

,pupil_timestamp,world_index,eye_id,confidence,norm_pos_x,norm_pos_y,diameter,method,ellipse_center_x,ellipse_center_y,...,circle_3d_normal_z,circle_3d_radius,theta,phi,projected_sphere_center_x,projected_sphere_center_y,projected_sphere_axis_a,projected_sphere_axis_b,projected_sphere_angle,file
0,5410.553797,0,1,1.000000,0.406205,0.708513,40.757561,'2d c++',77.991356,55.965595,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_1.xlsx
1,5410.553797,0,1,0.999646,0.406235,0.708578,40.764095,'3d c++',77.997212,55.953014,...,-0.714380,1.971798,1.419294,-2.333954,145.942173,79.574077,187.867489,187.867489,90.0,Task1_Subject_1.xlsx
2,5410.557872,0,0,0.999661,0.326001,0.395972,38.729047,'3d c++',62.592283,115.973389,...,-0.699703,1.889488,1.768446,-2.346975,134.652012,92.929580,188.411042,188.411042,90.0,Task1_Subject_1.xlsx
3,5410.557872,0,0,1.000000,0.325980,0.396084,38.723305,'2d c++',62.588215,115.951805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_1.xlsx
4,5410.561675,0,1,1.000000,0.406046,0.707954,40.842903,'2d c++',77.960808,56.072765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22291,765220.470839,462,0,0.999360,0.269306,0.573183,33.506399,'3d c++',51.706710,81.948936,...,-0.850889,1.814162,1.688031,-2.112619,104.944522,75.830409,165.925616,165.925616,90.0,Task1_Subject_40.xlsx
22292,765220.474861,462,1,1.000000,0.309861,0.498420,31.239191,'2d c++',59.493362,96.303368,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_40.xlsx
22293,765220.474861,462,1,0.999820,0.309852,0.498487,31.237301,'3d c++',59.491651,96.290519,...,-0.855285,1.458891,1.522269,-2.113543,117.175978,100.672108,185.066979,185.066979,90.0,Task1_Subject_40.xlsx
22294,765220.478931,462,0,1.000000,0.270119,0.574300,33.512741,'2d c++',51.862900,81.734329,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_40.xlsx
22295,765220.478931,462,0,0.999481,0.270064,0.574343,33.517269,'3d c++',51.852246,81.726210,...,-0.852059,1.813909,1.686049,-2.110717,104.944522,75.830409,165.925616,165.925616,90.0,Task1_Subject_40.xlsx

In [78]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data6 = pd.read_excel(f, sheet_name = 5)
    data6['file'] = f
    c_pupil_task2 = c_pupil_task2.append(data6)

In [79]:
c_pupil_task2

,pupil_timestamp,world_index,eye_id,confidence,norm_pos_x,norm_pos_y,diameter,method,ellipse_center_x,ellipse_center_y,...,circle_3d_normal_z,circle_3d_radius,theta,phi,projected_sphere_center_x,projected_sphere_center_y,projected_sphere_axis_a,projected_sphere_axis_b,projected_sphere_angle,file
0,4659.169934,0,1,1.000000,0.383349,0.709518,39.585670,'2d c++',73.602982,55.772636,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_1.xlsx
1,4659.169934,0,1,0.999989,0.383349,0.709497,39.582783,'3d c++',73.602915,55.776529,...,-0.691045,2.047310,1.432883,-2.369453,141.816092,76.930217,179.758212,179.758212,90.0,Task1_Subject_1.xlsx
2,4659.173514,0,0,1.000000,0.348162,0.349042,37.972534,'2d c++',66.847015,124.983849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_1.xlsx
3,4659.173514,0,0,0.999880,0.348163,0.349008,37.976604,'3d c++',66.847372,124.990553,...,-0.718888,1.948367,1.753716,-2.321682,133.439111,102.086138,179.930302,179.930302,90.0,Task1_Subject_1.xlsx
4,4659.178235,0,1,0.999944,0.383273,0.709904,39.386227,'3d c++',73.588462,55.698340,...,-0.690810,2.037330,1.432163,-2.369687,141.816092,76.930217,179.758212,179.758212,90.0,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19631,766138.554725,411,0,0.999626,0.238711,0.402970,36.146415,'3d c++',45.832514,114.629837,...,-0.791992,2.133172,1.832485,-2.180346,100.346575,90.202899,158.228377,158.228377,90.0,Task1_Subject_40.xlsx
19632,766138.562779,411,0,1.000000,0.238211,0.402156,36.001442,'2d c++',45.736492,114.786087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_40.xlsx
19633,766138.562779,411,0,0.999782,0.238194,0.402213,36.003947,'3d c++',45.733254,114.775027,...,-0.790674,2.125773,1.834046,-2.182126,100.346575,90.202899,158.228377,158.228377,90.0,Task1_Subject_40.xlsx
19634,766138.562781,411,1,1.000000,0.291386,0.614755,32.398243,'2d c++',55.946125,73.966949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_40.xlsx
19635,766138.562781,411,1,0.999414,0.291371,0.614662,32.395307,'3d c++',55.943295,73.984858,...,-0.796395,1.881798,1.361775,-2.190389,110.107423,95.437256,159.990540,159.990540,90.0,Task1_Subject_40.xlsx

In [80]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data7 = pd.read_excel(f, sheet_name = 6)
    data7['file'] = f
    c_pupil_task3 = c_pupil_task3.append(data7)

In [81]:
c_pupil_task3

,pupil_timestamp,world_index,eye_id,confidence,norm_pos_x,norm_pos_y,diameter,method,ellipse_center_x,ellipse_center_y,...,circle_3d_normal_z,circle_3d_radius,theta,phi,projected_sphere_center_x,projected_sphere_center_y,projected_sphere_axis_a,projected_sphere_axis_b,projected_sphere_angle,file
0,4925.733541,0,1,0.999716,0.396698,0.717863,39.984980,'3d c++',76.166063,54.170372,...,-0.697941,1.882471,1.438231,-2.360411,148.217415,76.821010,192.722410,192.722410,90.0,Task1_Subject_1.xlsx
1,4925.733541,0,1,1.000000,0.396681,0.717742,39.968163,'2d c++',76.162796,54.193523,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_1.xlsx
2,4925.733566,0,0,1.000000,0.336370,0.370211,38.975426,'2d c++',64.582977,120.919556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_1.xlsx
3,4925.733566,0,0,0.999898,0.336366,0.370172,38.979005,'3d c++',64.582350,120.927035,...,-0.695439,1.788076,1.757177,-2.355361,140.381627,96.652712,197.635498,197.635498,90.0,Task1_Subject_1.xlsx
4,4925.741424,0,1,0.999894,0.396292,0.716681,40.184041,'3d c++',76.088124,54.397321,...,-0.697569,1.892244,1.439996,-2.361170,148.217415,76.821010,192.722410,192.722410,90.0,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48539,765904.718754,373,1,0.998551,0.294532,0.588455,34.141056,'3d c++',56.550128,79.016680,...,-0.842759,1.501926,1.480738,-2.132802,119.087886,92.592532,193.907527,193.907527,90.0,Task1_Subject_40.xlsx
48540,765904.726856,373,0,0.999267,0.235904,0.429393,37.794270,'3d c++',45.293531,109.556464,...,-0.843950,2.104040,1.742442,-2.113071,98.714150,92.460355,163.076984,163.076984,90.0,Task1_Subject_40.xlsx
48541,765904.726856,373,0,1.000000,0.235988,0.429256,37.794712,'2d c++',45.309715,109.582878,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_40.xlsx
48542,765904.726859,373,1,0.999034,0.294416,0.589042,33.955788,'3d c++',56.527798,78.903966,...,-0.842570,1.493913,1.479896,-2.133036,119.087886,92.592532,193.907527,193.907527,90.0,Task1_Subject_40.xlsx
48543,765904.726859,373,1,1.000000,0.294483,0.589155,33.964970,'2d c++',56.540695,78.882301,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Task1_Subject_40.xlsx

In [82]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data8 = pd.read_excel(f, sheet_name = 7)
    data8['file'] = f
    c_pupil_task4 = c_pupil_task4.append(data8)

In [83]:
c_pupil_task4

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,circle_3d_normal_y,circle_3d_normal_z,circle_3d_radius,theta,phi,projected_sphere_center_x,projected_sphere_center_y,projected_sphere_axis_a,projected_sphere_axis_b,projected_sphere_angle
0,5186.934273,0.0,1.0,0.999998,0.406175,0.712463,41.279886,'3d c++',77.985519,55.207111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5186.934273,0.0,1.0,1.000000,0.406178,0.712473,41.281082,'2d c++',77.986107,55.205215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5186.937763,0.0,0.0,1.000000,0.310229,0.395438,39.079651,'2d c++',59.563965,116.075829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5186.937763,0.0,0.0,0.999822,0.310204,0.395425,39.081583,'3d c++',59.559194,116.078464,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5186.942054,0.0,1.0,0.999945,0.406465,0.712099,41.363808,'3d c++',78.041339,55.277064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.187195,-0.933970,1.587529,1.382490,-1.885859,79.268912,114.323763,166.594589,166.594589,90.0
59796,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.186942,-0.933736,1.589084,1.382748,-1.886776,79.268912,114.323763,166.594589,166.594589,90.0
59798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59799,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.228813,-0.808086,1.748312,1.801654,-2.162291,86.804748,88.107665,165.751621,165.751621,90.0

In [84]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data9 = pd.read_excel(f, sheet_name = 8)
    data9['file'] = f
    c_blinks_task1 = c_blinks_task1.append(data9)

In [85]:
c_blinks_task1

,ID,start_timestamp,duration,end_timestamp,start_frame_index,index,end_frame_index,confidence,filter_response,base_Data,file
0,1,5437.625617,0.236131,5437.861748,37,40,44,0.703872,'0.5068225043614704 0.5512669488059149 0.59571...,'5437.625617 5437.629564 5437.633621 5437.6378...,Task1_Subject_1.xlsx
1,2,5444.161561,0.180073,5444.341634,231,233,236,0.553669,'0.5048782729116744 0.5493227173561188 0.59287...,'5444.161561 5444.165642 5444.169793 5444.1755...,Task1_Subject_1.xlsx
0,1,52343.299652,0.208204,52343.507856,28,31,34,0.497812,'0.5083233621335544 0.552767806577999 0.597212...,'52343.299652 52343.303448 52343.307718000004 ...,Task1_Subject_3.xlsx
1,2,52351.271180,0.604479,52351.875659,266,275,284,0.268740,'0.5147965783708606 0.44519374716612836 0.4577...,'52351.27118 52351.275434 52351.279182 52351.2...,Task1_Subject_3.xlsx
2,1,52353.379248,0.263982,52353.643230,21,25,29,0.542674,'0.5349907679353413 0.5822504642600077 0.62330...,'52353.379248 52353.386182 52353.387143 52353....,Task1_Subject_3.xlsx
3,1,52361.799089,0.164946,52361.964035,29,31,34,0.540459,'0.5018592554834781 0.5463036999279226 0.59074...,'52361.799089 52361.806158 52361.807276 52361....,Task1_Subject_3.xlsx
4,1,52367.791491,0.224953,52368.016444,29,32,36,0.561267,'0.5407997933944411 0.5852442378388855 0.62968...,'52367.791491 52367.795185 52367.799383 52367....,Task1_Subject_3.xlsx
5,1,52377.051408,0.219801,52377.271209,20,23,27,0.609915,'0.503231993550923 0.5500859597340555 0.594530...,'52377.051408 52377.059281 52377.070968 52377....,Task1_Subject_3.xlsx
0,1,765196.562722,0.187904,765196.750626,155,157,160,0.560358,'0.544847189093033 0.6265389531121867 0.671082...,'765196.562722 765196.5667109999 765196.570734...,Task1_Subject_40.xlsx

In [86]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data10 = pd.read_excel(f, sheet_name = 9)
    data10['file'] = f
    c_blinks_task2 = c_blinks_task2.append(data10)

In [87]:
c_blinks_task2

,file,ID,start_timestamp,duration,end_timestamp,start_frame_index,index,end_frame_index,confidence,filter_response,base_Data
0,Task1_Subject_3.xlsx,1,51644.207383,0.521524,51644.728907,246,254,262,0.277761,'0.528993998250003 0.5159779134200366 0.537140...,'51644.207383 51644.211833 51644.216024 51644....
1,Task1_Subject_3.xlsx,1,51653.099402,0.312177,51653.411579,213,218,223,0.294713,'0.5135580453080789 0.5302985577358857 0.57474...,'51653.099402 51653.103442 51653.107426 51653....
2,Task1_Subject_3.xlsx,1,51655.287540,0.212070,51655.499610,46,49,52,0.662804,'0.5341177971267324 0.5785622415711769 0.62300...,'51655.28754 51655.292708 51655.295653 51655.2...
3,Task1_Subject_3.xlsx,1,51675.564079,0.207355,51675.771434,16,19,22,0.544197,'0.5072108906156224 0.5074451554132569 0.57445...,'51675.564079 51675.569274 51675.571386 51675....

In [89]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data11 = pd.read_excel(f, sheet_name = 10)
    data11['file'] = f
    c_blinks_task3 = c_blinks_task3.append(data11)

In [90]:
c_blinks_task3

,ID,start_timestamp,duration,end_timestamp,start_frame_index,index,end_frame_index,confidence,filter_response,base_Data,file
0,1,4937.633752,0.219501,4937.853253,355,358,362,0.632858,'0.5145911521303596 0.559035596574804 0.603480...,'4937.633752 4937.637365 4937.642261 4937.6454...,Task1_Subject_1.xlsx
1,2,4938.933606,0.179660,4939.113266,394,396,399,0.594492,'0.5276674487690183 0.5721118932134627 0.61655...,'4938.933606 4938.9373909999995 4938.943244999...,Task1_Subject_1.xlsx
2,3,4942.313627,0.219615,4942.533242,495,498,501,0.643151,'0.5229700933989672 0.5674145378434114 0.61185...,'4942.3136269999995 4942.317322 4942.321507 49...,Task1_Subject_1.xlsx
3,1,4948.394007,0.575348,4948.969355,2,10,19,0.334890,'0.5038569896286232 0.5483014340730676 0.59274...,'4948.394007 4948.397762 4948.4018829999995 49...,Task1_Subject_1.xlsx
4,2,4949.149379,0.175898,4949.325277,25,27,30,0.562926,'0.5131920799712788 0.5576365244157233 0.60208...,'4949.1493789999995 4949.1532959999995 4949.15...,Task1_Subject_1.xlsx
...,...,...,...,...,...,...,...,...,...,...,...
76,5,765898.426719,0.272135,765898.698854,185,189,194,0.574021,'0.5364014257822771 0.5826977220785734 0.58316...,'765898.426719 765898.426722 765898.434814 765...,Task1_Subject_40.xlsx
77,6,765899.506793,0.235931,765899.742724,218,221,225,0.645399,'0.5091238601340187 0.5554201564303151 0.60171...,'765899.506793 765899.5067939999 765899.514846...,Task1_Subject_40.xlsx
78,7,765900.148427,0.214287,765900.362714,237,240,243,0.629134,'0.5148374891888052 0.5611337854851016 0.60743...,'765900.148427 765900.148611 765900.159127 765...,Task1_Subject_40.xlsx
79,8,765900.531245,0.251599,765900.782844,248,252,256,0.611608,'0.5207391577983226 0.5670354540946189 0.61466...,'765900.531245 765900.534997 765900.539163 765...,Task1_Subject_40.xlsx
80,9,765901.055656,0.267141,765901.322797,264,268,272,0.495417,'0.5053524730001205 0.5058154359630836 0.55268...,'765901.055656 765901.05939 765901.0631479999 ...,Task1_Subject_40.xlsx

In [91]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data12 = pd.read_excel(f, sheet_name = 11)
    data12['file'] = f
    c_blinks_task4 = c_blinks_task4.append(data12)

In [92]:
c_blinks_task4

,ID,start_timestamp,duration,end_timestamp,start_frame_index,index,end_frame_index,confidence,filter_response,base_Data,file
0,1,5200.489894,0.628398,5201.118292,122,131,141,0.390568,'0.5071523680042445 0.551596812448689 0.596041...,'5200.489893999999 5200.493501 5200.497832 520...,Task1_Subject_1.xlsx
1,2,5201.585551,0.248134,5201.833685,155,158,162,0.624402,'0.5121954566591707 0.556639901103615 0.601084...,'5201.585551 5201.589585 5201.595933 5201.5976...,Task1_Subject_1.xlsx
0,1,90997.116431,0.208093,90997.324524,59,62,65,0.589238,'0.5088037159434569 0.5532481603879015 0.59769...,'90997.116431 90997.121122 90997.124455 90997....,Task1_Subject_2.xlsx
1,2,90997.652829,0.279633,90997.932462,75,79,83,0.634712,'0.5391463337742395 0.5835907782186839 0.62803...,'90997.652829 90997.656448 90997.660702 90997....,Task1_Subject_2.xlsx
2,3,91002.054042,0.214465,91002.268507,206,209,213,0.606721,'0.5076595276903548 0.5521039721347994 0.59654...,'91002.054042 91002.056646 91002.060434 91002....,Task1_Subject_2.xlsx
...,...,...,...,...,...,...,...,...,...,...,...
59,7,765584.990763,0.179956,765585.170719,286,288,291,0.458246,'0.507404496376048 0.511331282688452 0.5303760...,'765584.990763 765584.990765 765584.998886 765...,Task1_Subject_40.xlsx
60,8,765585.590678,0.255990,765585.846668,304,308,312,0.581167,'0.528150977102528 0.5744472733988242 0.620743...,'765585.590678 765585.59864 765585.598641 7655...,Task1_Subject_40.xlsx
61,9,765586.590700,0.330832,765586.921532,334,339,344,0.316093,'0.5139893156005565 0.5602856118968528 0.56947...,'765586.5907 765586.598698 765586.598698 76558...,Task1_Subject_40.xlsx
62,10,765587.502874,0.241693,765587.744567,361,364,368,0.477929,'0.5445790203509462 0.5908753166472424 0.63717...,'765587.502874 765587.510945 765587.51102 7655...,Task1_Subject_40.xlsx
63,11,765587.939200,0.239733,765588.178933,374,377,381,0.453262,'0.527092319865324 0.5760644066393025 0.589859...,'765587.9392 765587.946738 765587.946837 76558...,Task1_Subject_40.xlsx

In [93]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data13 = pd.read_excel(f, sheet_name = 12)
    data13['file'] = f
    c_annotation_task1 = c_annotation_task1.append(data13)

In [94]:
c_annotation_task1

,mental_1,physical_1,temporal_1,perforamnce_1,effort_1,frustation_1,mean_1,file
0,10,5,15,25,25,10,15.0,Task1_Subject_1.xlsx
0,20,10,20,10,20,15,15.8,Task1_Subject_2.xlsx
0,5,5,5,0,5,5,4.2,Task1_Subject_3.xlsx
0,35,25,50,5,25,10,25.0,Task1_Subject_40.xlsx

In [95]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data14 = pd.read_excel(f, sheet_name = 13)
    data14['file'] = f
    c_annotation_task2 = c_annotation_task2.append(data14)

In [96]:
c_annotation_task2

,mental_1,physical_1,temporal_1,perforamnce_1,effort_1,frustation_1,mean_1,file
0,50,30,25,50,15,25,32.5,Task1_Subject_1.xlsx
0,50,10,60,30,30,25,34.2,Task1_Subject_2.xlsx
0,15,10,10,0,15,5,9.2,Task1_Subject_3.xlsx
0,55,35,75,20,50,30,44.2,Task1_Subject_40.xlsx

In [97]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data15 = pd.read_excel(f, sheet_name = 14)
    data15['file'] = f
    c_annotation_task3 = c_annotation_task3.append(data15)

In [98]:
c_annotation_task3

,mental_1,physical_1,temporal_1,perforamnce_1,effort_1,frustation_1,mean_1,file
0,100,10,75,80,90,20,62.5,Task1_Subject_1.xlsx
0,50,10,20,25,50,20,29.2,Task1_Subject_2.xlsx
0,80,15,55,45,50,25,45.0,Task1_Subject_3.xlsx
0,85,75,55,70,80,20,64.2,Task1_Subject_40.xlsx

In [99]:
#loop through files - use read_excel - note sheet name 

for f in files_xlsx:
    #data = pd.read_excel(f)
    data16 = pd.read_excel(f, sheet_name = 15)
    data16['file'] = f
    c_annotation_task4 = c_annotation_task4.append(data16)

In [100]:
c_annotation_task4

,mental_1,physical_1,temporal_1,perforamnce_1,effort_1,frustation_1,mean_1,file
0,60,15,45,50,20,25,35.8,Task1_Subject_1.xlsx
0,85,10,90,90,80,85,73.3,Task1_Subject_2.xlsx
0,55,10,15,15,30,10,22.5,Task1_Subject_3.xlsx
0,85,45,95,75,75,25,66.7,Task1_Subject_40.xlsx

In [101]:
#not going to use the below - don't think subject info is important to analysis but leaving code in here in case I change my mind 

#for f in files_xlsx:
#    #data = pd.read_excel(f)
#    data = pd.read_excel(f, sheet_index = [16])
#    data['file'] = f
#    c_subjectinfo = df.append(data)

In [102]:
#check that the naming has worked
print(c_gaze_task1['file'].unique())

['Task1_Subject_1.xlsx' 'Task1_Subject_2.xlsx' 'Task1_Subject_3.xlsx'
 'Task1_Subject_40.xlsx']

In [103]:
#only interested in specific columns, so we will drop everything except those
#note that the 'file' column is the 'participant'

#Gaze data
c_gaze_task1 = c_gaze_task1.iloc[:, [0,6,7,8,21]]
c_gaze_task2 = c_gaze_task2.iloc[:, [0,6,7,8,21]]
c_gaze_task3 = c_gaze_task3.iloc[:, [0,6,7,8,21]]
c_gaze_task4 = c_gaze_task4.iloc[:, [0,6,7,8,21]]

#Pupil data
c_pupil_task1 = c_pupil_task1.iloc[:, [6,34]]
c_pupil_task2 = c_pupil_task2.iloc[:, [6,34]]
c_pupil_task3 = c_pupil_task3.iloc[:, [6,34]]
c_pupil_task4 = c_pupil_task4.iloc[:, [6,34]]

#Blink data - indx and file
c_blinks_task1 = c_blinks_task1.iloc[:, [5,10]]
c_blinks_task2 = c_blinks_task2.iloc[:, [5,10]]
c_blinks_task3 = c_blinks_task3.iloc[:, [5,10]]
c_blinks_task4 = c_blinks_task4.iloc[:, [5,10]]

#annotation data - mean and file
c_annotation_task1 = c_annotation_task1.iloc[:, [6,7]]
c_annotation_task2 = c_annotation_task2.iloc[:, [6,7]]
c_annotation_task3 = c_annotation_task3.iloc[:, [6,7]]
c_annotation_task4 = c_annotation_task4.iloc[:, [6,7]]

In [104]:
#get the difference between the previous value for each row

#Task 1
c_gaze_task1.sort_values(['file'], inplace=True)
c_gaze_task1['gaze_diff'] = c_gaze_task1.groupby('file')['gaze_timestamp'].diff()
c_gaze_task1['x_diff'] = c_gaze_task1.groupby('file')['gaze_point_3d_x'].diff()
c_gaze_task1['y_diff'] = c_gaze_task1.groupby('file')['gaze_point_3d_y'].diff()
c_gaze_task1['z_diff'] = c_gaze_task1.groupby('file')['gaze_point_3d_z'].diff()
c_gaze_task1['z_diff'] = c_gaze_task1.groupby('file')['gaze_point_3d_z'].diff()

#Task 2
c_gaze_task2.sort_values(['file'], inplace=True)
c_gaze_task2['gaze_diff'] = c_gaze_task2.groupby('file')['gaze_timestamp'].diff()
c_gaze_task2['x_diff'] = c_gaze_task2.groupby('file')['gaze_point_3d_x'].diff()
c_gaze_task2['y_diff'] = c_gaze_task2.groupby('file')['gaze_point_3d_y'].diff()
c_gaze_task2['z_diff'] = c_gaze_task2.groupby('file')['gaze_point_3d_z'].diff()
c_gaze_task2['z_diff'] = c_gaze_task2.groupby('file')['gaze_point_3d_z'].diff()

#Task 3
c_gaze_task3.sort_values(['file'], inplace=True)
c_gaze_task3['gaze_diff'] = c_gaze_task3.groupby('file')['gaze_timestamp'].diff()
c_gaze_task3['x_diff'] = c_gaze_task3.groupby('file')['gaze_point_3d_x'].diff()
c_gaze_task3['y_diff'] = c_gaze_task3.groupby('file')['gaze_point_3d_y'].diff()
c_gaze_task3['z_diff'] = c_gaze_task3.groupby('file')['gaze_point_3d_z'].diff()
c_gaze_task3['z_diff'] = c_gaze_task3.groupby('file')['gaze_point_3d_z'].diff()

#Task 4
c_gaze_task4.sort_values(['file'], inplace=True)
c_gaze_task4['gaze_diff'] = c_gaze_task4.groupby('file')['gaze_timestamp'].diff()
c_gaze_task4['x_diff'] = c_gaze_task4.groupby('file')['gaze_point_3d_x'].diff()
c_gaze_task4['y_diff'] = c_gaze_task4.groupby('file')['gaze_point_3d_y'].diff()
c_gaze_task4['z_diff'] = c_gaze_task4.groupby('file')['gaze_point_3d_z'].diff()
c_gaze_task4['z_diff'] = c_gaze_task4.groupby('file')['gaze_point_3d_z'].diff()

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [105]:
#square x, y and z

#Task 1
c_gaze_task1['x_diff^2'] = c_gaze_task1['x_diff']**2
c_gaze_task1['y_diff^2'] = c_gaze_task1['y_diff']**2
c_gaze_task1['z_diff^2'] = c_gaze_task1['z_diff']**2

#Task 2
c_gaze_task2['x_diff^2'] = c_gaze_task2['x_diff']**2
c_gaze_task2['y_diff^2'] = c_gaze_task2['y_diff']**2
c_gaze_task2['z_diff^2'] = c_gaze_task2['z_diff']**2

#Task 3
c_gaze_task3['x_diff^2'] = c_gaze_task3['x_diff']**2
c_gaze_task3['y_diff^2'] = c_gaze_task3['y_diff']**2
c_gaze_task3['z_diff^2'] = c_gaze_task3['z_diff']**2

#Task 4
c_gaze_task4['x_diff^2'] = c_gaze_task4['x_diff']**2
c_gaze_task4['y_diff^2'] = c_gaze_task4['y_diff']**2
c_gaze_task4['z_diff^2'] = c_gaze_task4['z_diff']**2

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [106]:
#sum x, y and z

column_names = ['x_diff^2','y_diff^2','z_diff^2']

#task 1
c_gaze_task1['sum']= c_gaze_task1[column_names].sum(axis=1)

#task 2
c_gaze_task2['sum']= c_gaze_task2[column_names].sum(axis=1)

#task 3
c_gaze_task3['sum']= c_gaze_task3[column_names].sum(axis=1)

#task 4
c_gaze_task4['sum']= c_gaze_task4[column_names].sum(axis=1)

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [107]:
#take sqrt of this value

#task 1
c_gaze_task1['sqrt']= np.sqrt(c_gaze_task1['sum'])

#task 2
c_gaze_task2['sqrt']= np.sqrt(c_gaze_task2['sum'])

#task 1
c_gaze_task3['sqrt']= np.sqrt(c_gaze_task3['sum'])

#task 1
c_gaze_task4['sqrt']= np.sqrt(c_gaze_task4['sum'])

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [108]:
#multiply by displacement to obtain velocity

#task 1
c_gaze_task1['velocity'] = c_gaze_task1['gaze_diff'] * c_gaze_task1['sqrt']

#task 2
c_gaze_task2['velocity'] = c_gaze_task2['gaze_diff'] * c_gaze_task2['sqrt']

#task 3
c_gaze_task3['velocity'] = c_gaze_task3['gaze_diff'] * c_gaze_task3['sqrt']

#task 4
c_gaze_task4['velocity'] = c_gaze_task4['gaze_diff'] * c_gaze_task4['sqrt']

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [144]:
#count of values above 55 (aka our fixations)

#get each of these into the dataframe and then join - i.e. one df is saccades, one is fixations, join on 'file'
#note - keeping the dataframe in the same format by using reset index
#renaming column to make life easier



#task 1
c_gaze_task1_fix = c_gaze_task1[c_gaze_task1['velocity'] > 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task1_fix = c_gaze_task1_fix.rename(columns={'velocity': 'fixation_count'})
c_gaze_task1_sac = c_gaze_task1[c_gaze_task1['velocity'] < 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task1_sac = c_gaze_task1_fix.rename(columns={'velocity': 'saccade_count'})
#task 2
c_gaze_task2_fix = c_gaze_task2[c_gaze_task2['velocity'] > 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task2_fix = c_gaze_task2_fix.rename(columns={'velocity': 'fixation_count'})
c_gaze_task2_sac = c_gaze_task2[c_gaze_task1['velocity'] < 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task2_sac = c_gaze_task2_fix.rename(columns={'velocity': 'saccade_count'})

#task 3
c_gaze_task3_fix = c_gaze_task3[c_gaze_task1['velocity'] > 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task3_fix = c_gaze_task3_fix.rename(columns={'velocity': 'fixation_count'})
c_gaze_task3_sac = c_gaze_task3[c_gaze_task1['velocity'] < 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task3_sac = c_gaze_task3_fix.rename(columns={'velocity': 'saccade_count'})

#task 4
c_gaze_task4_fix = c_gaze_task4[c_gaze_task1['velocity'] > 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task4_fix = c_gaze_task4_fix.rename(columns={'velocity': 'fixation_count'})
c_gaze_task4_sac = c_gaze_task4[c_gaze_task1['velocity'] < 0.55].groupby('file')['velocity'].count().reset_index()
c_gaze_task4_sac = c_gaze_task4_fix.rename(columns={'velocity': 'saccade_count'})

KeyError: 'velocity'

In [145]:
#join saccades and fixations together 

#task 1
c_gaze_task1 = pd.concat([c_gaze_task1_fix.set_index('file'),c_gaze_task1_sac.set_index('file')], axis=1, join='inner')

#task 2
c_gaze_task2 = pd.concat([c_gaze_task2_fix.set_index('file'),c_gaze_task2_sac.set_index('file')], axis=1, join='inner')

#task 3
c_gaze_task3 = pd.concat([c_gaze_task3_fix.set_index('file'),c_gaze_task3_sac.set_index('file')], axis=1, join='inner')

#task 4
c_gaze_task4 = pd.concat([c_gaze_task4_fix.set_index('file'),c_gaze_task4_sac.set_index('file')], axis=1, join='inner')

NameError: name 'c_gaze_task2_fix' is not defined

In [146]:
#append all together
gaze_final = pd.concat([c_gaze_task1, c_gaze_task2, c_gaze_task3, c_gaze_task4], ignore_index=True)

                       fixation_count  fixation_count
file
Task1_Subject_1.xlsx              216             216
Task1_Subject_2.xlsx              402             402
Task1_Subject_3.xlsx              402             402
Task1_Subject_40.xlsx             336             336

In [54]:
# make a column with 1 or 0 for saccade

#may be able to drop this 

#task 1
#c_gaze_task1['saccade_flag'] = np.where(c_gaze_task1['velocity'] < 0.55, 1, 0)

#task 2
#c_gaze_task2['saccade_flag'] = np.where(c_gaze_task2['velocity'] < 0.55, 1, 0)

#task 3
#c_gaze_task3['saccade_flag'] = np.where(c_gaze_task3['velocity'] < 0.55, 1, 0)

#task 4
#c_gaze_task4['saccade_flag'] = np.where(c_gaze_task4['velocity'] < 0.55, 1, 0)

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [56]:
#fixation flag

#task 1
#c_gaze_task1['fixation_flag'] = np.where(c_gaze_task1['velocity'] > 0.55, 1, 0)

#task 2
#c_gaze_task1['fixation_flag'] = np.where(c_gaze_task1['velocity'] > 0.55, 1, 0)

#task 3
#c_gaze_task1['fixation_flag'] = np.where(c_gaze_task1['velocity'] > 0.55, 1, 0)

#task 4
#c_gaze_task1['fixation_flag'] = np.where(c_gaze_task1['velocity'] > 0.55, 1, 0)

C:\Users\MrAndrewHallam\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [148]:
#average pupil diameter 

#task 1
c_pupil_task1 = c_pupil_task1.groupby(['file']).mean().reset_index()
c_pupil_task1 = c_pupil_task1.rename(columns={'diameter': 'avg_diameter'})

#task 2
c_pupil_task2 = c_pupil_task2.groupby(['file']).mean().reset_index()
c_pupil_task1 = c_pupil_task2.rename(columns={'diameter': 'avg_diameter'})

#task 3
c_pupil_task3 = c_pupil_task3.groupby(['file']).mean().reset_index()
c_pupil_task3 = c_pupil_task3.rename(columns={'diameter': 'avg_diameter'})

#task 4
c_pupil_task4 = c_pupil_task4.groupby(['file']).mean().reset_index()
c_pupil_task4 = c_pupil_task4.rename(columns={'diameter': 'avg_diameter'})

In [149]:
#append all together
pupil_final = pd.concat([c_pupil_task1, c_pupil_task2,c_pupil_task3, c_pupil_task4 ], ignore_index=True)

                    file   diameter
0   Task1_Subject_1.xlsx  43.519883
1   Task1_Subject_2.xlsx  31.483623
2   Task1_Subject_3.xlsx  30.711831
3  Task1_Subject_40.xlsx  31.657608

In [ ]:
#count of blinks 
#task 1
c_blinks_task1 = c_blinks_task1.groupby(['file']).count().reset_index()
c_blinks_task1 = c_blinks_task1.rename(columns={'index': 'count_blinks'})

#task 2
c_blinks_task2 = c_blinks_task2.groupby(['file']).count().reset_index()
c_blinks_task2 = c_blinks_task2.rename(columns={'index': 'count_blinks'})

#task 3
c_blinks_task3 = c_blinks_task3.groupby(['file']).count().reset_index()
c_blinks_task3 = c_blinks_task3.rename(columns={'index': 'count_blinks'})

#task 4
c_blinks_task4 = c_blinks_task4.groupby(['file']).count().reset_index()
c_blinks_task4 = c_blinks_task4.rename(columns={'index': 'count_blinks'})

In [ ]:
#append all together
blinks_final = pd.concat([c_blinks_task1, c_blinks_task2,c_blinks_task3, c_blinks_task4 ], ignore_index=True)

In [157]:
#no preprocessing required for annotations, will just append all together
annotation_final = pd.concat([c_annotation_task1, c_annotation_task2,c_annotation_task3, c_annotation_task4 ], ignore_index=True)

   mean_1                   file
0    15.0   Task1_Subject_1.xlsx
0    15.8   Task1_Subject_2.xlsx
0     4.2   Task1_Subject_3.xlsx
0    25.0  Task1_Subject_40.xlsx

In [ ]:
#final colet dataset after pre-processing

colet_final = pd.merge(blinks_final, annotation_final, pupil_final, gaze_final on=['file'])